
.navbar {
    height: 70px !important;
    font-size: x-large;
    font-display: 2px;
    padding-bottom: 1.5rem;
    background-color: darkslategray;
}
.navbar .h1 {
    font-size: calc(1.5rem + 1.5vw);
}

.form-control {
    font-size: 1.5rem;
}

.nav-item {
    padding-left: 1.5rem;
}
