html {
    font-size: 10px;
    font-family: sans-serif;
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
}
h1 {
    text-align: left;
    font-weight: 100;
    margin: 2rem 0;
    letter-spacing: -1px;
    color: black;
    text-decoration: none;
}

h1 a {
    color: black;
    text-decoration: none;
}
h1 a:focus {
    outline: 0;
}

h2 {
    text-align: left;
    font-weight: 700;
    font-size: 4rem;
    margin: 2rem 0;
    letter-spacing: 0px;
    color: black;
    text-decoration: none;
}

@font-face {
    font-family: 'billabongregular';
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

.form {
    font-family: "Roboto", sans-serif;
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    display: inline-block;
    background-color: white;
}

.form-body{
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 10px 10px;
}

.form__label{
    font-family: "Roboto", sans-serif;
    width: 240px;
    text-align: left;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
 
.form input {
    font-family: "Roboto", sans-serif;
    font-family: sans-serif;
    background: #f2f2f2;
    width: 50%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
 }
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#065784;
    width: 30%;
    border: 15 white;
    padding: 20px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: right;
 }
 .form button:hover,.form button:active,.form button:focus {
    background: #7B8589;
}

body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

